/****************header sections css*******************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #091309; /* Dark green theme */
  padding: 15px 40px;
  color: white;
}


.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  color: #138a13;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Login Button with Profile Icon */
.login-btn {
  background: #339233;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  
}

.login-btn:hover {
  background: #138a13;
}

.profile-icon {
  width: 20px;
  height: 20px;
}

/* Cart Section */
.cart-section {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 3px 6px;
}



/* ***************footer sections css start from here ******************/
.footer {
  background: #111; /* Dark background */
  color: white;
  padding: 40px 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #138a13;
}

.newsletter p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.newsletter-form {
  display: flex;
  gap: 5px;
}

.newsletter-form input {
  padding: 8px;
  flex: 1;
  border-radius: 5px;
  border: none;
}

.newsletter-form button {
  background: #3ddb3d;
  border: none;
  padding: 8px 15px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter-form button:hover {
  background: #138a13;
}

/* Social Media Icons */
.social-media {
  text-align: center;
  margin-top: 20px;
}

.social-media a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #138a13;
}
