.login-signup-container {
    background: url('../assets/gym.jpg') no-repeat center;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(87, 85, 85, 0.1);
    background-color: #0a0a0a;
  }
  
  .sig-header {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    color:rgb(69, 212, 25);
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    font-weight: bold;
    font-size: 16px;
    color: #0c0c0c;
  }
  
  form input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #1fbe42;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  form input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }
  
  .loginsignup {
    width: 100%;
    padding: 12px;
    background-color: #2e8132;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }
  
  .loginsignup:hover {
    background-color: #16851c;
  }
  
  .toggle-link {
    color: #007BFF;
    cursor: pointer;
    font-weight: bold;
  }
  
  .toggle-link:hover {
    text-decoration: none;
  }
  
  
  